<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
<!--
    <add key="UrlTemplate" value="https://{NOTIF_HUB_NS}.servicebus.windows.net/{NOTIF_HUB_NAME}/messages?api-version=2017-04" />    
-->
    <add key="UrlTemplate" value="https://{NOTIF_HUB_NS}.servicebus.windows.net/{NOTIF_HUB_NAME}/publishers/abc/messages" />

  </appSettings>

</configuration>


<!--
url = "https://stefama.servicebus.windows.net/stefamaeventhub/publishers/abc"
-->

